body {
    background-color: rgb(246, 252, 145);
    text-align: center;
}

h1 {
    color: #e33b11;
}

#mashup-application {
    padding: 150px;
}

#search-area {
    margin-top: 40px;
}

#input-box {
    width: 300px;
    padding: 10px;
    border: 2px solid #20790c;
    border-radius: 8px;
}

#fetch-btn, #blend-btn, #save-btn, #download-btn {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f59254;
    color: white;
    transition: background-color 0.3s;
}

#fetch-btn:hover, #blend-btn:hover, #save-btn:hover, #download-btn:hover {
    background-color: #c2600b;
}

#mashup-area {
    margin: 10px;
    padding: 10px 20px;
}
#selected-tracks-area {
    margin-top: 30px;
    padding: 20px;
    background-color: #f6c2c2;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#selected-tracks-area h2 {
    color: #1a3c1a; /* Green color for the header */
    font-size: 24px;
    margin-bottom: 15px;
}

#selected-tracks {
    list-style-type: none;
    padding: 0;
}

#selected-tracks li {
    background-color: #fff;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 18px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
}


